# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules/

# production
/dist/client/build/
/dist/
/client/build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#ignore .env file
.env

#ignore bash script utilities
lazy_git
dist/client/build/
client/node_modules
src/helpers/.env

#IDE configurations
.idea/
.vscode/

#ENZYME/JEST TEST SNAPSHOT
client/src/test/__snapshots__

#NYC Output Files - Code Coverage
.nyc_output
